#slede1{
    width: 960px;
    height: 540px;
    display: block;
}

#slide1 .bg{
    width: 960px;
    height: 540px;
    background: url(../images/shared/bg.png);
    background-size: 960px 540px ;

}

#slide1 .header{
background: url(../images/slide1/header.png);
background-size: 520px 50px ;
    top: 70px;
    left: 61px;
    width: 520px;
    height: 50px;
    z-index: 2;
}
#slide1 .bullit1{
    background: url(../images/slide1/bullit1.png);
    background-size: 38px 38px ;
    width: 38px;
    height: 38px;
    z-index: 2;
    left: 60px;
    top: 161px;
}
#slide1 .bullit2{
    background: url(../images/slide1/bullit2.png);
    background-size: 38px 38px ;
    width: 38px;
    height: 38px;
    z-index: 2;
    left: 62px;
    top: 255px;
}
#slide1 .bullit3{
    background: url(../images/slide1/bullit3.png);
    background-size: 38px 38px ;
    width: 38px;
    height: 38px;
    z-index: 2;
    left: 61px;
    top: 323px;
}
#slide1 .bullit4{
    background: url(../images/slide1/bullit4.png);
    background-size: 38px 38px ;
    width: 38px;
    height: 38px;
    z-index: 2;
    left: 61px;
    top: 394px;
}
#slide1 .text1{
    background: url(../images/slide1/text1.png);
z-index: 2;
left: 110px;
    top: 150px;
    width: 787px;
    height: 85px;
}
#slide1 .text2{
    background: url(../images/slide1/text2.png);
z-index: 2;
left: 112px;
top: 244px;
width: 784px;
height: 62px;
}
#slide1 .text3{
    background: url(../images/slide1/text3.png);
z-index: 2;
left: 112px;
top: 315px;
width: 785px;
height: 61px;
}
#slide1 .text4{
    background: url(../images/slide1/text4.png);
    z-index: 2;
    left: 114px;
    top: 385px;
    width: 784px;
    height: 62px;
}


